{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "linebreak-style": "off",
    "comma-dangle": "warn",
    "max-len": [
      "warn",
      {
        "code": 512
      }
    ]
  }
}